<script type="text/javascript" src="/js/jquery.smoove.js"></script>
<script>$('.middle').smoove();</script>
<style>
    .footer{background-color: #252525;overflow: hidden;}
    .foot{width: 80%;margin: 0 auto;color: white;}
    .about{margin-top: 20px;}
    .about h4{float: left;}
    .about>div{text-align: right;}
    .foot-nav{overflow: hidden;text-align: center;width: 100%;}
    .foot-nav>ul>li{font-size: 1.2vw;margin-right: 7%;display: inline-block;vertical-align: top;}
    .foot-nav a{color: gray;text-decoration: none;}
    .foot-nav a:hover{color: #B7B7B7;}
    .foot-nav>ul>li>ul{padding-top: 10px;padding-left: 0;font-size: 1.1vw;}
    .foot-nav>ul>li>ul>li{padding-top: 10px;}
    .addr{text-align: left;}
    @media screen and (max-width:800px) {
        .about{display: none;}
        .foot-nav{display: none;}
    }
</style>
<div class="footer">
    <div class="foot">
        <div class="about">
                <div>
                    <h4>关于我们</h4>
                    <a href="https://mp.weixin.qq.com/s/YbhLWOQsRtyC_4EUXMy3EQ" target="_blank"><img src="/images/wechat.png" alt="微信" ></a>
                    <img src="/images/weibo.png" alt="微博" style="margin-left: 20px;">
                </div>
        </div>
        <div class="foot-nav">
            <hr color=white style="margin-left: 0;width:20%;">
            <ul>
                <li>屯堡概览<ul>
                    <li><a href="/tbgl/wenhua.html">村史文化</a></li>
                    <li><a href="/tbgl/chanpin.html">优质农特产品</a></li>
                    <!-- <li><a href="/tbgl/jzyg.html">建制沿革</a></li> -->
                </ul>
            </li>
            <li>线上文化馆
                <ul>
                    <li><a href="/szwh/stg.html">视听馆</a></li>
                    <li><a href="/szwh/zbj.html">直播间</a></li>
                    <li><a href="/szwh/jlsh.html">记录生活</a></li>
                    <!-- <li><a href="https://0.u.h5mc.com/c/ckat/hter/index.html" target="_blank">屯堡动画</a></li> -->
                </ul>
            </li>
                <li>玩转屯堡
                    <ul>
                        <li><a href="/wztb/jtzn.html">交通指南</a></li>
                        <!-- <li><a href="/wztb/dtdh.html">地图导航</a></li> -->
                        <li><a href="/wztb/chanpin.html">屯堡美食</a></li>
                        <li><a href="/wztb/minsu.html">民宿</a></li>
                        <li><a href="/wztb/xxhd.html">线下活动</a></li>
                    </ul>
                </li>
                <li>屯堡文创<ul>
                    <li><a href="/tbwc/wccp.html">文创产品</a></li>
                    <!-- <li><a href="/tbwc/xtbz.html">屯堡壁纸</a></li> -->
                </ul>
                <li>服务优化
                    <ul>
                        <li><a href="/fwyh/ykjy.html" target="_blank">游客建议</a></li>
                        <li><a href="/fwyh/ywjd.html" target="_blank">疑问解答</a></li>
                    </ul>
                </li>
                <li>屯堡治理<ul>
                    <li><a href="/xczl/czgg.html">村中公告</a></li>
                    <li><a href="/xczl/zfwjxc.html">政府文件宣传</a></li>
                    <li><a href="/xczl/crcmzs.html">村容村貌展示</a></li>
                    <li><a href="/xczl/cmyjsj.html">村民意见收集</a></li>
                </ul>
            </li>
            </ul>
        </div>
        <hr color="gray">
        <div class="addr">
            <p>贵州省安顺市平坝区屯堡</p>
        </div>
    </div>
</div>