<link rel="stylesheet" href="/css/head.css">
<header>
    <div class="head">
        <script>
            $(function () {
                dropdownOpen();
            });
            function dropdownOpen(){
                $('.dropdown').mouseover(function(){
                $(this).addClass('show');
                $(this).find(".dropdown-menu").addClass('show');
            })
            .mouseout(function(){
                $(this).find(".dropdown-menu").removeClass('show');
                $(this).removeClass('show');
            });
            }
        </script>
        <nav class="navbar navbar-expand-sm navbar-dark">
            <div>
                <a href="/index.html">
                    <img src="/images/1715095499205.png" class="logo">
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
                <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        <li>
                            <a href="/index.html" class="">首页</a>
                        </li>
                        <li class="dropdown active">
                            <a href="" class="" data-toggle="dropdown">屯堡概览</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/tbgl/wenhua.html" class="dropdown-item">村史文化</a>
                                </li>
                                <li>
                                    <a href="/tbgl/chanpin.html" class="dropdown-item">优质农特产品</a>
                                </li>
                                <!-- <li>
                                    <a href="/tbgl/jzyg.html" class="dropdown-item">建制沿革</a>
                                </li> -->
                            </ul>
                        </li>
                        <li class="dropdown active">
                            <a href="" class="" data-toggle="dropdown">线上文化馆</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/szwh/stg.html" class="dropdown-item">试听馆</a>
                                </li>
                                <li>
                                    <a href="/szwh/zbj.html" class="dropdown-item">直播间</a>
                                </li>
                                <li>
                                    <a href="/szwh/jlsh.html" class="dropdown-item">记录生活</a>
                                </li>
                                <!-- <li>
                                    <a href="https://0.u.h5mc.com/c/ckat/hter/index.html" target="_blank" class="dropdown-item">屯堡动画</a>
                                </li> -->
                            </ul>
                        </li>
                        <li class="dropdown active">
                            <a href="" class="" data-toggle="dropdown">玩转屯堡</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/wztb/jtzn.html" class="dropdown-item">交通指南</a>
                                </li>
                                <!-- <li>
                                    <a href="/wztb/dtdh.html" class="dropdown-item">地图导航</a>
                                </li> -->
                                <li>
                                    <a href="/wztb/chanpin.html" class="dropdown-item">屯堡美食</a>
                                </li>
                                <li>
                                    <a href="/wztb/minsu.html" class="dropdown-item">民宿</a>
                                </li>
                                <li>
                                    <a href="/wztb/xxhd.html" class="dropdown-item">线下活动</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown active">
                            <a href="" class="" data-toggle="dropdown">屯堡文创</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/tbwc/wccp.html" class="dropdown-item">文创产品</a>
                                </li>
                                <!-- <li>
                                    <a href="/tbwc/xtbz.html" class="dropdown-item">屯堡壁纸</a>
                                </li> -->
                            </ul>
                        </li>
                        <li class="dropdown active">
                            <a href="" class="" data-toggle="dropdown">服务优化</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/fwyh/ykjy.html" target="_blank" class="dropdown-item">游客建议</a>
                                </li>
                                <li>
                                    <a href="/fwyh/ywjd.html" target="_blank" class="dropdown-item">疑问解答</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown active">
                            <a href="" class="" data-toggle="dropdown">屯堡治理</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/xczl/czgg.html" class="dropdown-item">村中公告</a>
                                </li>
                                <li>
                                    <a href="/xczl/zfwjxc.html" class="dropdown-item">政府文件宣传</a>
                                </li>
                                <li>
                                    <a href="/xczl/crcmzs.html" class="dropdown-item">村容村貌展示</a>
                                </li>
                                <li>
                                    <a href="/xczl/cmyjsj.html" class="dropdown-item">村民意见收集</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
        </nav>
    </div>
</header>
<div class="bigimg">
    <img src="/images/big3.jpg" style="width:100%;position:relative;">
    <img src="/images/1715095499205.png" style="position:absolute;left: 85%;width: 8%;top: 16%;">
</div>